{% extends "main/base.html" %}


{% block SignInOrOut %}
<a class="signInSignOut" href="/">Выйти</a>
{% endblock %}


{% block content %}
<p>
  <h2>Эталонное Жилье</h2>
  <p>Улица дома и квартира</p>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa85d7a1ba5e176db1434d8207d4615ae008d170107f26e80a3791097c980618d&amp;width=792&amp;height=572&amp;lang=ru_RU&amp;scroll=true"></script>
  <p>С помощью нажатия на синие метки на карте вы можете убирать объекты-аналоги.
    При наведении на объект-аналог вы можете ознакомиться с улицей и квартирой конкретного дома.
    Для того, чтобы изменить корректирующие цену значения, нажмите на ячейку и измените значения.
    Для того, чтобы отменить учет корректирующих цену значений, нажмите на флажок справа от наименования.
  </p>
  <p>Форма аналога, появляющаяся при нажатии на карте. Выбор нужных для расчета характеристик</p>
  <p>Так же форма аналога</p>

</p>
{% endblock %}

